.advantages
    .container
        .advantages__title.title Почему мы
        .advantages__line 
        .advantages__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
        ul.advantages__list
            li.advantages__item
                .advantages__svg
                .advantages__item-title Преимущество 1
                .advantages__item-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            li.advantages__item
                .advantages__svg
                .advantages__item-title Преимущество 1
                .advantages__item-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            li.advantages__item
                .advantages__svg
                .advantages__item-title Преимущество 1
                .advantages__item-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            li.advantages__item
                .advantages__svg
                .advantages__item-title Преимущество 1
                .advantages__item-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            li.advantages__item
                .advantages__svg
                .advantages__item-title Преимущество 1
                .advantages__item-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            li.advantages__item
                .advantages__svg
                .advantages__item-title Преимущество 1
                .advantages__item-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            li.advantages__item
                .advantages__svg
                .advantages__item-title Преимущество 1
                .advantages__item-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            li.advantages__item
                .advantages__svg
                .advantages__item-title Преимущество 1
                .advantages__item-text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium