.feedback__container.container
    .feedback
        .feedback__title.title оставьте отзыв
        .feedback__line.line
        .feedback__line.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
        .feedback__left
            .feedback__left-address наш адресс
                p г.Минск, ул. Скрыганова, 6А, 4 этаж
            .feedback__left-phone звоните
            p +375 (29) 123-45-67,  +375 (33) 123-45-67
            .feedback__left-email пишите
            p info@promo-webcom.by
        .feedback__right
            form.form
                label.feedback__right-name
                    span.feedback__right-title.title ВАШЕ ИМЯ
                    input(type="text" placeholder="Иванов Иван")
                label.feedback__right-mail
                    span.feedback__right-title.title E-MAIL
                    input(type="text" placeholder="example@mysite.com")
                label.feedback__right-job
                    span.feedback__right-title.title ВАША ДОЛЖНОСТЬ
                    input(type="text" placeholder="Должность")
                .feedback__right-feedb
                    span.feedback__right-title.title ОТЗЫВ
                    textarea(placeholder="Ваше сообщение")
                .feedback__right-photo
                    .add-photo
                    span ФОТО
                label.feedback__right-password
                    span.feedback__right-title.title ВВЕДИТЕ КОД С КАРТИНКИ
                    input(type="text")
                .feedback__right-row
                    img.img-password
                    input(type="submit" value="Отправить")
    .arrow-top