footer.footer
    .container
        .footer__top
            .footer__left
                .footer__left-logo.logo
                .footer__left-line.line
                .footer__left-text Дисклеймер компании
            .footer__center
                .footer__center-title.title МЫ В СОЦСЕТЯХ
                .footer__center-line.line
                .footer__center-socials
                    ul.socials__list
                        li.socials__items.socials__items_inst инст
                        li.socials__items.socials__items_tw твиттер
                        li.socials__items.socials__items_fb фейсбук
            .footer__right
                .footer__left-title.title АДРЕС
                .footer__left-line.line
                .footer__left-text г. Минск, ул. Скрыганова, 6А,4 этаж
        .footer__copy Copyrights 2015 © Webcom Media