.hamburger
    svg.hamburger__top(width="40px" height="5px")
        use(xlink:href='../assets/images/icons/hamburger_parts.svg#top')
    svg.hamburger__middle(width="40px" height="5px")
        use(xlink:href='../assets/images/icons/hamburger_parts.svg#middle')
    svg.hamburger__bottom(width="40px" height="5px")
        use(xlink:href='../assets/images/icons/hamburger_parts.svg#bottom')
    ul.hamburger-nav(id="headerMenu")
        li.nav__item(data-menuanchor="P1")
            a.nav__item-link(href="#P1") главная
        li.nav__item(data-menuanchor="P2")
            a.nav__item-link(href="#P2") портфолио
        li.nav__item(data-menuanchor="P3")
            a.nav__item-link(href="#P3") преимущества
        li.nav__item(data-menuanchor="P4")
            a.nav__item-link(href="#P4") отзывы
        li.nav__item
            a.nav__item-link(href="#") контакты