.head
    header.header
        .container
            .logo
            nav.nav
                ul.nav__items
                    li.nav__items-main главная
                    li.nav__items-portfolio портфолио
                    li.nav__items-advantages преимущества
                    li.nav__items-plan схема работы
                    li.nav__items-feedback отзывы
                    li.nav__items-contacts контакты
            .header__phone
    .slider
        .container
            .slider__title
            .slider__text
            .slider__button оформить заявку
    .btn__left
    .btn__right
    .btn__circles
    .btn__down

