<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title webcom-media
        link(rel="stylesheet", href="./assets/styles/common/menu.min.css")
    body
        .wrapper
            ul.fixed-nav.btns
                li.fixed-nav__circle.fixed-nav__circle_active
                li.fixed-nav__circle
                li.fixed-nav__circle
                li.fixed-nav__circle
                li.fixed-nav__circle
            include ./pages/head.pug
            include ./pages/works.pug
            include ./pages/advantages.pug
            include ./pages/feedback.pug
        include ./pages/footer.pug