block variables
- Nav = ['P1','P2','P3','P4','P5']
- NavHref = ['#P1','#P2','#P3','#P4','#P5']
- NavName = ['главная','портфолио','преимущества','отзывы','контакты']

.head
    .header
    .slider
        .content.head-content
            .slider-item.slider-item_active
                h2.slider__title.title ГЛАВНЫЙ ЗАГОЛОВОк
                svg.slider__line(height='10px')
                    use(xlink:href='./assets/images/head/head/icons/sprite.svg#lineHead')
                .slider__text Lorem ipsum dolor sit amet, consectetur adipisicingи elit, sed do eiusmod tempor incididunt ut labore et doloremagna aliqua. 
                button.slider__button.btns.modalWindowTrigger оформить заявку
            .slider-item
                h2.slider__title.title самый ГЛАВНЫЙ ЗАГОЛОВОк
                svg.slider__line
                    use(xlink:href='./assets/images/head/head/icons/sprite.svg#lineHead')
                .slider__text Lorem ipsum dolor sit amet, consectetur adipisicingи elit, sed do eiusmod tempor incididunt ut labore et doloremagna aliqua. dolor sit amet consectetur adipisicing elit. Amet culpa nemo sapiente
                button.slider__button.btns.modalWindowTrigger оформить заявку
            .slider-item
                h2.slider__title.title Отец ГЛАВНЫх ЗАГОЛОВков
                svg.slider__line
                    use(xlink:href='./assets/images/head/head/icons/sprite.svg#lineHead')
                .slider__text Lorem ipsum dolor sit amet consectetur  nihil vel libero tempore adipisci molestiae? Molestiae rerum tenetur illo. Lorem ipsum dolor sit amet, consectetu  aliqua. 
                button.slider__button.btns.modalWindowTrigger оформить заявку
        svg.btn-prev.btns(width="46px" height="80px")
            use(xlink:href='./assets/images/head/head/icons/sprite.svg#left')
        svg.btn-next.btns(width="46px" height="80px")
            use(xlink:href='./assets/images/head/head/icons/sprite.svg#right')
        ul.head-nav.btns
            li.head-nav__circle.head-nav__circle_active
            li.head-nav__circle
            li.head-nav__circle
    svg.btn__down.btns(width="55px" height="55px")
        use(xlink:href='./assets/images/head/head/icons/sprite.svg#down')

