.advantages{
    padding: 5vh;
    position: relative;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.advantages__list{
    display: flex;
    flex-flow row wrap
}
.advantages__item{
    height: 50%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 55px 0;

}