main = #28363d;
orange = #ff8207;
.feedback{
    padding: 4vh 20px 10px;
    position: relative;
    text-align: center;
    height: 100vh;
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.feedback__text{
    font-size: 18px;
    color: #8198a0;
}
.feedback__container{
    width: 940px;
    height: 75%;
    margin: 0 auto;
    display: flex;
    padding-top: 55px;
    text-align: left;
}
.feedback__left{
    width: 42%;
}
.feedback__left-info{
    font-size: 24px;
    color: orange;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
    p{
        color: #999999;
        font-size: 18px;
        text-transform: none
        font-weight: 400;
        margin: 15px 0 0;
    }
}

.feedback__right{
    width: 58%;
    height: 100%;
}
.form{
    height: 100%;
}
.feedback__right-item{
    width: 100%;
    margin-bottom: 20px;
    display: block;
    .input,
    textarea{
        border: none;
        border-bottom: 1px solid #e5e5e5;
        width: 100%;
    }
}
.feedback__right-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}
textarea{
    resize:none;
    width: 100%;
    height: 100px;
}
.add-photo,
.feedback-photo{
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    font-weight: 600;
    font-size: 24px;
}
.add-photo{
    fill: orange
}
.img-password{
    max-width: 100%;
    padding-right: 10px;
}
.feedback__right-item_psw{
    display: flex;
    justify-content: space-between
    align-items: center;
    padding-top: 20px;
}
.input-btn {
    border-radius: 10px;
    background-color: rgb(255, 130, 7);
    width: 220px;
    height: 60px;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
}
.arrow-top{
    position: absolute;
    right: 20px;
    bottom: 10px;
    cursor: pointer;
}

@media screen and (max-height: 992px){
    
    .feedback__container {
        padding-top: 45px;
    }
    .feedback__right {
        width: 100%;
    }
    .feedback__right-item {
        width: 50%;
        padding-left: 5%;
    }
    .form{
        display: flex;
        flex-flow: column wrap;
    }
    .feedback__left {
        display: none;
    }
}
@media screen and (max-height: 640px){
    .feedback__container {
        padding-top: 25px;
    }
}

@media screen and (max-width: 1024px){
    .feedback__container {
        width: 95%;
        padding-top: 0;
    }

    .feedback__title{
        font-size: 28px;
        line-height: 1.2;
        font-weight: 600;
    }
    .feedback__text{
        display: none;
    }
    .feedback__right-title{
        font-size: 20px;
    }
    
    .feedback__title{
        font-size: 28px;
        line-height: 1.2;
        font-weight: 600;
    }
    .feedback__line{
        margin: auto;
    }
    .feedback__text{
        font-size: 16px;
    }
    .input-btn{
        padding: 15px;
        width: auto;
    }
}


@media screen and (max-width: 768px) {
    .feedback__right-item{
        input,
        textarea{
            font-size: 12px;
        }
    }
    .feedback__right-title {
        font-size: 16px;
    }
    .add-photo{
        width: 20%;
        margin-right: 6%;
    }
    input.input-btn {
        font-size: 14px;
        line-height: 1.2;
        height: auto;
    }
}
@media screen and (max-width: 480px) {
    .feedback__right-item_psw{
        flex-direction: column;
    }
    .img-password {
        padding-bottom: 20px;
    }
}





