.footer{
    height: 310px;
    color: #fff;
    background:#28363d url(../../images/bg/footer-bg.jpg) top center no-repeat;
    background-size: cover;

    .title{
        font-size: 16px;
        font-weight: 600;
    }
}
.footer-container{
    max-width: 1400px;
    margin: 0 auto;
}
.footer__top{
    display: flex;
    justify-content: space-between;
    height: 250px;
}
.footer-col{
    padding-top: 60px;
    width: 33.333%;
    .logo{
        padding: 0;
    }
}
.footer__copy{
    height: 60px;
    line-height: 60px;
    background: #1e292f;
    color: #fff;
    text-align: center;
}
.socials__list{
    display: flex;
    justify-content: center;
}
.footer__left{
    text-align: left;
}
.footer__center{
    text-align: center;
}
.footer__right{
    text-align: right;
    .title{
        text-align: right;
    }
}
.line.line-footer{
    padding-top: 43px;
}
.footer__text{
    font-weight: 500;
}