
main = #28363d
orange = #ff8207
colorHov = #c76906


.head{
    height: 100vh;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    background: url(../../images/bg/head-bg.jpg) center center no-repeat;
    background-size: cover;
}
.head__container{
    max-width: 1400px;
    margin: auto;
    height: 100%;
    display: flex;
    
}
.header{
    height: 120px;
    background: main;
    color: #fff;
    padding: 0 4vh;
    
}
.logo{
    width: 230px;
    /* padding: 35px 0; */
    text-align: left;
    display: flex;
    margin: auto;
}

.nav__list{
    width: 940px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: auto;
    padding: 0 10px;
}
.nav__item{
    height: 100%;
    display: block;
    border-bottom: solid 4px transparent;
    transition: .2s;
    cursor: pointer;
    display: flex;
    margin: auto;
    &:hover{
        border-bottom:  solid 4px orange;
    }
    &_active{
        background: #1e292f;
        color: #6b848c;
        border-bottom:  solid 4px orange;
    }
}
.nav__item-link{
    display: block;
    height: auto;
    color: #fff;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    margin: auto;
}

.header__phone{
    width: 230px;
    height: 100%;
    font-size: 24px;
    color: orange;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    padding: 5px 0;
}
.header__phone-link{
    line-height: 1;
    white-space: nowrap;
    color: orange;
}
.slider{
    position: absolute;
    top: 0;
    padding: 150px 0 140px;
    height:100%;
    left: 50%;
    transform: translateX(-50%);
}
.head-content{
    height: 100%;
}
.slide{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.slider__title{
    font-size: 48px;
    font-weight: 600;
}
.slider__line{
    fill:#28363d;
    width: 100%;
}
.slider__text{
    font-size: 24px;
}
.slider__button{
    font-size: 32px;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(255, 130, 7);
    width: 400px;
    height: 80px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    margin: auto;
    transition: .2s;
    &:hover{
        background-color: #c76906;
    }
}
.btns{
    cursor: pointer;
}
.btn__left,
.btn__right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    fill:#ff9526;
    transition: .2s;
    &:hover{
        fill: colorHov;
    }
}
.btn__left{
    left: -80px;
}
.btn__right{
    right: -80px;
}
.btn__down{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}
.head-nav{
    width: 140px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
}
.head-nav__circle{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: main;
    &_active{
        background: orange;
    }
}

/* /////////////// adaptive */

@media (max-width: 1366px){
    .head{
        font-size: 14px;
    }
    .header{
        height: 80px;
    }
    .header__phone-link{
        font-size: 18px;
    }
}