
main = #28363d
orange = #ff8207
colorHov = #c76906


.head{
    height: 100vh;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    background: url(../../images/bg/head-bg.jpg) center center no-repeat;
    background-size: cover;
}
.head__container{
    max-width: 1400px;
    margin: auto;
    height: 100%;
    display: flex;
    
}
.header{
    z-index: 1;
    position: relative;
    height: 120px;
    background: main;
    color: #fff;
    padding: 0 4vh;
    
}
.logo{
    width: 230px;
    /* padding: 35px 0; */
    text-align: left;
    display: flex;
    margin: auto;
}

.nav__list{
    width: 940px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: auto;
    padding: 0 10px;
}
.nav__item{
    height: 100%;
    display: block;
    border-bottom: solid 4px transparent;
    transition: .2s;
    cursor: pointer;
    display: flex;
    margin: auto;
    &:hover{
        border-bottom:  solid 4px orange;
    }
    &.active{
        background: #1e292f;
        border-bottom:  solid 4px orange;
        .nav__item-link{
            color: #6b848c;
        }
    }
}
.nav__item-link{
    display: block;
    height: auto;
    color: #fff;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    margin: auto;
}

.header__phone{
    width: 230px;
    height: 100%;
    font-size: 24px;
    color: orange;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    padding: 5px 0;
}
.header__phone-link{
    line-height: 1;
    white-space: nowrap;
    color: orange;
}
.slider{
    position: absolute;
    top: 0;
    padding: 150px 0 140px;
    height:100%;
    left: 50%;
    transform: translateX(-50%);
}
.head-content{
    height: 100%;
}
.slider-item{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    visibility: hidden;
    transition: 0.8s;
    opacity: 0;
    &_active{
        visibility: visible;
        opacity: 1;
    }
}
.slider__title{
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
}
.slider__line{
    fill:#28363d;
    width: 100%;
    height: 10px;
    margin: 30px 0;
}
.slider__text{
    font-size: 24px;
}
.slider__button{
    font-size: 32px;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(255, 130, 7);
    width: 400px;
    height: 80px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    margin: auto;
    transition: .2s;
    &:hover{
        background-color: #c76906;
    }
}
.btns{
    cursor: pointer;
}
.btn-prev,
.btn-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    fill:#ff9526;
    transition: .2s;
    &:hover{
        fill: colorHov;
    }
}
.btn-prev{
    left: -80px;
}
.btn-next{
    right: -80px;
}
.btn__down{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}
.head-nav{
    width: 140px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
}
.head-nav__circle{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: main;
    &_active{
        background: orange;
        height: 18px;
    }
}

/* /////////////// adaptive */

@media (max-width: 1366px){
    .head{
        font-size: 14px;
    }
    .header{
        height: 80px;
    }
    .header__phone{
        display: none;
    }
    /* .header__phone-link{
        font-size: 18px;
    } */
}
@media (max-width: 1024px){
    .btn-prev {
        left: -60px;
    }
    .btn-next {
        right: -60px;
    }
}




@media (max-height: 768px){
    .slider__text {
        font-size: 18px;
        padding-bottom: 20px;
    }
    .slider__title {
        font-size: 40px;
    }
    .slider__button {
        font-size: 24px;
    }
}
@media (max-height: 630px){
    .slider {
        padding: 110px 0 140px;
    }
    .slider__text {
        font-size: 16px;
    }
    .slider__title {
        font-size: 34px;
    }
    .slider__button {
        height: auto;
        width: auto;
        padding: 15px;
        font-size: 18px;
    }
}
@media (max-height: 520px){
    .header {
        height: 60px;
    }
    .header__phone-link {
        font-size: 16px;
    }
    .slider {
        padding: 90px 0 120px;
    }
    .slider__line {
        margin: auto 0;
    }
    .slider__text {
        font-size: 14px;
    }
    .slider__title {
        font-size: 28px;
    }
    .slider__button {
        font-size: 16px;
    }
    .btn-prev,
    .btn-next{
        height: 50px;
    }
    .btn__down{
        height: 40px;
    }
    .head-nav__circle,
    .head-nav__circle_active {
        width: 15px;
        height: 15px;
    }
    .head-nav {
        width: 100px;
        bottom: 80px;
    }
}