@import './common/normalize.styl'; 
@import './common/style.styl'; 
@import './common/fonts.styl'; 
@import './common/fullPage.styl';
@import './common/owl.carousel.min.styl';
@import './common/owl.theme.default.min.styl';
@import './common/jquery.fancybox.styl';

@import '../blocks/head/head.styl';
@import '../blocks/works/works.styl'; 
@import '../blocks/advantages/advantages.styl';
@import '../blocks/feedback/feedback.styl';
@import '../blocks/foot/foot.styl';








