
main = #28363d;
orange = #ff8207;

.works{
    position: relative;
    text-align: center;
    background: url(../../images/bg/works-bg.png) center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4vh 20px 20px;
}
.content{
    position: relative;
    width: 780px;
    margin:0 auto;
    text-align: center;
}
.line{
    fill: orange;
    margin: 26px 0 14px;
}
.works__article-line{
    margin: 12px 0 0;
}
.works__text{
    font-size: 18px;
    color: #8198a0;
    margin-bottom: auto;
    padding-bottom: 20px;
}

.container{
    max-width: 1440px;
    margin:0 auto;
    height: 75%;
    display: flex;
    justify-content: center;
}
.works-container__wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-between;
    margin-right: -1.3%;
}

.works__article {
    background-color: rgb(40, 54, 61);
    max-width: 32%;
    height: 48%;
    display: block;
    margin-right: 1.3%;
    transition: .2s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url(../../images/work.jpg) center no-repeat;
    background-size: cover;

    &:hover{
        .works__article-info{
        opacity: .8;
        }
    }
}
.works__article-info{
    background-color: rgb(255, 255, 255);
    min-height: 30%;
    padding: 20px 0 5px 10%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: .2s;
}
.works__article-title{
    font-size: 18px;
    text-align: left;
    color: main;
    font-weight: 600;
}
.works__article-text{
    color: #7b7b7b;
    &:after{
        content: "";
        width: 310px;
        display: inline-block;
    }
}

////////////// adaptive 

@media screen and (max-height: 992px){
    .title{
        line-height: 1.2;
    }
    .line{
        margin: auto 0;
    }
    .works__line{
        margin: auto ;
    }
    .works__text{
        font-size: 16px;
    }
    .works__article-title{
        font-size: 16px;
    }
    .works__article-line {
        margin: 5px 0 0;
    }
    .works__article-text{
        font-size: 14px;
    }
}

@media screen and (max-height: 520px){
    //// oul carousel
}


 @media screen and (max-width: 1366px) {
    .container{
        width: 97%;
    }
}
@media screen and (max-width: 1024px){
    .content {
        width: 80%;
    }
}
@media screen and (max-width: 768px) {
   .works__title{
        font-size: 28px;
        font-weight: 600;
    }
    .works__article {
        height: 50vh;
        width: 100%;
        max-width: 100%;
    }
    //// oul carousel
}
@media screen and (max-width: 480px) {
    //// oul carousel
}

