
main = #28363d;
orange = #ff8207;

.works{
    height: auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    background: url(../../images/bg/works-bg.jpg) center no-repeat;
    background-size: cover;
}
.works-container{
    width: 1425px;
}
.works__text{
    font-size: 18px;
    color: #8198a0;
}
.article {
    background-color: rgb(40, 54, 61);
    width: 460px;
    height: 320px;
  }
  
.article__title{
    font-size: 18px;
}