
main = #28363d;
orange = #ff8207;

.works{
    position: relative;
    text-align: center;
    background: url(../../images/bg/works-bg.png) center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vh 0;
}
.content{
    width: 780px;
    margin: auto;
    text-align: center;
}
.line{
    padding: 10px;
}
.works__article-line{
    padding: 0;
}



.works__text{
    font-size: 18px;
    color: #8198a0;
    margin-bottom: 60px;
}
.container{
    width: 1425px;
    margin: auto;
    height: 67%;
    display: flex;
    justify-content: center;
}
.works-container{
    width: 1425px;
    margin: auto;
    height: 67%;
    display: flex;
    justify-content: center;
    
}
.works-container__wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-between;
    margin-right: -1.3%;
}

.works__article {
    background-color: rgb(40, 54, 61);
    width: 32%;
    height: 48%;
    display: block;
    margin-right: 1.3%;
    transition: .2s;
    &:hover{
        .works__article-info{
        opacity: 1;
        }
    }
}
.works__article-img{
    height: 100%;
    background: url(../../images/work.jpg) center no-repeat;
    background-size: cover;
}
.works__article-info{
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    height: 30%;
    position: relative;
    top: -30%;
    padding: 20px 0 20px 60px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: .2s;
}
.works__article-title{
    font-size: 18px;
    text-align: left;
    color: main
}
.works__article-text{
    color: #7b7b7b;
}