 @import './normalize.styl'; 
 @import './style.styl'; 
 @import './fonts.styl'; 
 @import './fullPage.styl';
 @import './owl.carousel.min.styl';
 @import './owl.theme.default.min.styl';
 
@import '../head.styl';
@import '../works.styl'; 
@import '../advantages.styl';
@import '../feedback.styl';
@import '../footer.styl';








