 @import './normalize.styl'; 
 @import './style.styl'; 
 @import './fonts.styl'; 
 @import './fullPage.styl';
 
@import '../head.styl';
@import '../works.styl'; 
@import '../advantages.styl';
@import '../feedback.styl';
@import '../footer.styl';








